<div class="mt-6 inline-block rounded-2xl border-4 border-vibrant-orange bg-warm-cream p-6">
  <div
    class="relative items-center justify-center"
    (click)="onMapClick()"
    (keydown.enter)="onMapClick()"
    tabindex="0"
    role="region"
    aria-label="Карта квестів">
    <img src="/gemini_generated_map.png" alt="Карта світу драконів" class="rounded-lg shadow-lg" />
    @for (quest of quests().quests; track quest.id) {
      <app-quest-marker [quest]="quest" (markerClick)="onMarkerClick($event)" />
    }
    @if (selectedQuest()) {
      <app-modal-window (closeWindow)="closeDetail()">
        <app-quest-details [quest]="selectedQuest()" [isSmall]="true" />
      </app-modal-window>
    }
  </div>
</div>
