<div class="flex justify-center">
  @if (showingSyllables().length > 0) {
    <div
      class="inline-flex flex-wrap justify-center gap-3 rounded-lg border-2 border-dashed border-vibrant-orange p-10">
      @for (item of showingSyllables(); track $index) {
        <app-lego-brick
          [value]="item.syllable"
          [colorClass]="item.color"
          [shake]="isShaking(item.syllable)"
          (brickClick)="onSyllableClick(item)" />
      }
    </div>
  } @else {
    <div
      class="inline-flex flex-wrap justify-center gap-3 rounded-lg border-2 border-dashed border-vibrant-orange p-10 opacity-50"></div>
  }
</div>
