/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-deep-purple: #6e026f;
  --color-soft-teal: #abdadc;
  --color-warm-cream: #f1e6c9;
  --color-vibrant-orange: #fa891a;

  --font-fancy: 'Fredoka', sans-serif;
  --font-read: 'Roboto', sans-serif;
}
